@{
    ViewBag.Title = "Strona Domowa";
}

            <h3>Świat!</h3>
            <p>W budowie!</p>

            <form>
                <div>
                    <label>Data</label>
                    <input />
                </div>
                <div>
                    <label>Lokalizacja</label>
                    <input />
                </div>
                <div> <input type="submit" value="Dodaj"></div>
            </form>
